.popup__input-error {
    font-size: 12px;
    line-height: 1.25;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    top: 0;
    left: 0;
    color: #f00;
    padding-left: 36px;
    padding-right: 36px;
}