.auth__submit {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 358px;
    background-color: black;
    color: white;
    height: 50px;
    transition: opacity .2s ease;
    margin-bottom: 37px;
    border-radius: 2px;
    border: none;
}
